In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier

In [6]:
df_train = pd.read_csv('raw_data/training_data.csv')

In [13]:
reindexed_list = ['id', 'game', 'white', 'black', 'white_elo', 'black_elo', 'white_rd',
       'black_rd', 'whiteiscomp', 'blackiscomp', 'timecontrol', 'date', 'time',
       'white_clock', 'black_clock', 'eco', 'plycount', 'moves',
       'commentaries']
df_train = df_train.reindex(reindexed_list, axis=1)

In [22]:
X = df_train.iloc[:, 0:18]
y = df_train['commentaries']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10)

In [27]:
X_dummy = X_train.copy()
X_dummy.head(2)

,id,game,white,black,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,timecontrol,date,time,white_clock,black_clock,eco,plycount,moves
50976,48421,"""foosballfan"" vs ""IFDTitan""",foosballfan,IFDTitan,2187,1847,24.0,14.5,False,True,180+12,NaN,09:33:00,03:00.0,03:00.0,A45,153,1. e4 c5 2. Nf3 Nc6 3. Nc3 d6 4. d3 f5 5. exf5...
8870,29891,"""Jotram"" vs ""CyberPagno""",Jotram,CyberPagno,1720,2452,339.9,52.7,False,True,900+0,NaN,04:59:00,15:00.0,15:00.0,A48,46,1. f4 d5 2. Nf3 Nf6 3. e3 Bg4 4. Be2 e6 5. b3 ...

In [29]:
features_to_drop = ['id', 'game', 'white', 'black', 'date', 'black_clock']
X_dummy.drop(features_to_drop, axis=1, inplace=True)

ValueError: labels ['id' 'game' 'white' 'black' 'date' 'black_clock'] not contained in axis

In [46]:
X_dummy.head(10)

,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,timecontrol,time,white_clock,eco,plycount,moves,elo_dif,fixed_time,extended_time
50976,2187,1847,24.0,14.5,0,1,180+12,09:33:00,03:00.0,A45,153,1. e4 c5 2. Nf3 Nc6 3. Nc3 d6 4. d3 f5 5. exf5...,340,NaN,NaN
8870,1720,2452,339.9,52.7,0,1,900+0,04:59:00,15:00.0,A48,46,1. f4 d5 2. Nf3 Nf6 3. e3 Bg4 4. Be2 e6 5. b3 ...,732,0.0,4.0
21051,1975,2195,14.3,21.8,1,0,300+0,07:42:00,05:00.0,D12,110,1. d4 c5 2. d5 d6 3. c4 g6 4. Nc3 Bg7 5. e4 Nf...,220,300.0,0.0
2554,2476,2118,51.6,33.0,1,0,900+0,08:32:00,15:00.0,D53,37,1. e4 e5 2. Nf3 Nc6 3. d4 exd4 4. c3 d5 5. exd...,358,180.0,0.0
26475,1996,2035,19.5,36.5,1,0,300+0,14:39:00,05:00.0,D07,73,1. d4 d6 2. e4 g6 3. Nc3 Bg7 4. Be3 Nf6 5. Bc4...,39,300.0,0.0
22116,2427,1599,38.1,33.9,1,0,900+0,20:58:00,15:00.0,D08,45,1. e4 e6 2. d4 d5 3. exd5 exd5 4. Bd3 Bd6 5. N...,828,900.0,0.0
43321,2394,2004,45.4,32.7,1,0,900+0,08:04:00,15:00.0,E68,47,1. e4 e6 2. d4 d5 3. Nc3 Bb4 4. e5 c5 5. a3 Bx...,390,180.0,0.0
34851,1722,2559,48.4,27.3,0,1,120+2,09:02:00,02:00.0,C47,21,1. e4 e6 2. Nf3 Nf6,837,0.0,4.0
5180,2185,2038,22.3,13.6,0,1,300+0,03:42:00,05:00.0,B30,82,1. d3 d5 2. e3 e5 3. Be2 Qg5 4. Qd2 Nc6 5. Kd1...,147,180.0,0.0
3065,2122,1978,29.1,32.9,1,0,0+4,05:58:00,00:10.0,D46,41,1. e4 e5 2. Bc4 Nf6 3. Bxf7+ Kxf7 4. f4 exf4 5...,144,1200.0,0.0

In [31]:
X_dummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47408 entries, 50976 to 36649
Data columns (total 12 columns):
white_elo      47408 non-null int64
black_elo      47408 non-null int64
white_rd       47408 non-null float64
black_rd       47408 non-null float64
whiteiscomp    47408 non-null bool
blackiscomp    47408 non-null bool
timecontrol    47408 non-null object
time           47408 non-null object
white_clock    47408 non-null object
eco            47408 non-null object
plycount       47408 non-null int64
moves          47408 non-null object
dtypes: bool(2), float64(2), int64(3), object(5)
memory usage: 5.3+ MB

In [32]:
X_dummy['whiteiscomp'] = X_dummy['whiteiscomp'].map({False: 0, 
                                                     True:1})
X_dummy['blackiscomp'] = X_dummy['blackiscomp'].map({False: 0, 
                                                     True:1})
X_dummy['elo_dif'] = abs(X_dummy['white_elo'] - X_dummy['black_elo'])

In [40]:
len(X_dummy)

47408

In [34]:
time_control = X_dummy['timecontrol']

In [48]:
fixed_time = []
extended_time = []
for time in time_control:
    time_tuple = time.split('+')
    fixed_time.append(int(time_tuple[0]))
    extended_time.append(int(time_tuple[1]))

In [52]:
X_dummy['fixed_time'] = pd.Series(fixed_time, index=X_dummy.index)
X_dummy['extended_time'] = pd.Series(extended_time, index=X_dummy.index)

In [53]:
X_dummy.head(10)

,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,timecontrol,time,white_clock,eco,plycount,moves,elo_dif,fixed_time,extended_time
50976,2187,1847,24.0,14.5,0,1,180+12,09:33:00,03:00.0,A45,153,1. e4 c5 2. Nf3 Nc6 3. Nc3 d6 4. d3 f5 5. exf5...,340,180,12
8870,1720,2452,339.9,52.7,0,1,900+0,04:59:00,15:00.0,A48,46,1. f4 d5 2. Nf3 Nf6 3. e3 Bg4 4. Be2 e6 5. b3 ...,732,900,0
21051,1975,2195,14.3,21.8,1,0,300+0,07:42:00,05:00.0,D12,110,1. d4 c5 2. d5 d6 3. c4 g6 4. Nc3 Bg7 5. e4 Nf...,220,300,0
2554,2476,2118,51.6,33.0,1,0,900+0,08:32:00,15:00.0,D53,37,1. e4 e5 2. Nf3 Nc6 3. d4 exd4 4. c3 d5 5. exd...,358,900,0
26475,1996,2035,19.5,36.5,1,0,300+0,14:39:00,05:00.0,D07,73,1. d4 d6 2. e4 g6 3. Nc3 Bg7 4. Be3 Nf6 5. Bc4...,39,300,0
22116,2427,1599,38.1,33.9,1,0,900+0,20:58:00,15:00.0,D08,45,1. e4 e6 2. d4 d5 3. exd5 exd5 4. Bd3 Bd6 5. N...,828,900,0
43321,2394,2004,45.4,32.7,1,0,900+0,08:04:00,15:00.0,E68,47,1. e4 e6 2. d4 d5 3. Nc3 Bb4 4. e5 c5 5. a3 Bx...,390,900,0
34851,1722,2559,48.4,27.3,0,1,120+2,09:02:00,02:00.0,C47,21,1. e4 e6 2. Nf3 Nf6,837,120,2
5180,2185,2038,22.3,13.6,0,1,300+0,03:42:00,05:00.0,B30,82,1. d3 d5 2. e3 e5 3. Be2 Qg5 4. Qd2 Nc6 5. Kd1...,147,300,0
3065,2122,1978,29.1,32.9,1,0,0+4,05:58:00,00:10.0,D46,41,1. e4 e5 2. Bc4 Nf6 3. Bxf7+ Kxf7 4. f4 exf4 5...,144,0,4

In [54]:
X_dummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47408 entries, 50976 to 36649
Data columns (total 15 columns):
white_elo        47408 non-null int64
black_elo        47408 non-null int64
white_rd         47408 non-null float64
black_rd         47408 non-null float64
whiteiscomp      47408 non-null int64
blackiscomp      47408 non-null int64
timecontrol      47408 non-null object
time             47408 non-null object
white_clock      47408 non-null object
eco              47408 non-null object
plycount         47408 non-null int64
moves            47408 non-null object
elo_dif          47408 non-null int64
fixed_time       47408 non-null int64
extended_time    47408 non-null int64
dtypes: float64(2), int64(8), object(5)
memory usage: 7.0+ MB

In [57]:
X_dummy.drop(['timecontrol'], axis=1, inplace=True)

In [58]:
X_dummy.drop(['moves'], axis=1, inplace=True)

In [60]:
X_dummy.head(10)

,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,time,white_clock,eco,plycount,elo_dif,fixed_time,extended_time
50976,2187,1847,24.0,14.5,0,1,09:33:00,03:00.0,A45,153,340,180,12
8870,1720,2452,339.9,52.7,0,1,04:59:00,15:00.0,A48,46,732,900,0
21051,1975,2195,14.3,21.8,1,0,07:42:00,05:00.0,D12,110,220,300,0
2554,2476,2118,51.6,33.0,1,0,08:32:00,15:00.0,D53,37,358,900,0
26475,1996,2035,19.5,36.5,1,0,14:39:00,05:00.0,D07,73,39,300,0
22116,2427,1599,38.1,33.9,1,0,20:58:00,15:00.0,D08,45,828,900,0
43321,2394,2004,45.4,32.7,1,0,08:04:00,15:00.0,E68,47,390,900,0
34851,1722,2559,48.4,27.3,0,1,09:02:00,02:00.0,C47,21,837,120,2
5180,2185,2038,22.3,13.6,0,1,03:42:00,05:00.0,B30,82,147,300,0
3065,2122,1978,29.1,32.9,1,0,05:58:00,00:10.0,D46,41,144,0,4

In [66]:
time_period = []
for period in X_dummy['time']:
    time_list = period.split(':')
    time_period.append((100*int(time_list[0])) + (int(time_list[1])) + (int(time_list[2])/100))
X_dummy['total_time'] = pd.Series(time_period, index=X_dummy.index)
X_dummy.drop(['time', 'white_clock'], axis=1, inplace=True)
X_dummy.head(5)

,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,eco,plycount,elo_dif,fixed_time,extended_time,total_time
50976,2187,1847,24.0,14.5,0,1,A45,153,340,180,12,933.0
8870,1720,2452,339.9,52.7,0,1,A48,46,732,900,0,459.0
21051,1975,2195,14.3,21.8,1,0,D12,110,220,300,0,742.0
2554,2476,2118,51.6,33.0,1,0,D53,37,358,900,0,832.0
26475,1996,2035,19.5,36.5,1,0,D07,73,39,300,0,1439.0

In [67]:
X_dummy['eco'] = X_dummy['eco'].astype('category')

In [72]:
X_dummy['eco'] = X_dummy['eco'].cat.codes

AttributeError: Can only use .cat accessor with a 'category' dtype

In [71]:
X_dummy.head()

,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,eco,plycount,elo_dif,fixed_time,extended_time,total_time
50976,2187,1847,24.0,14.5,0,1,45,153,340,180,12,933.0
8870,1720,2452,339.9,52.7,0,1,48,46,732,900,0,459.0
21051,1975,2195,14.3,21.8,1,0,304,110,220,300,0,742.0
2554,2476,2118,51.6,33.0,1,0,345,37,358,900,0,832.0
26475,1996,2035,19.5,36.5,1,0,299,73,39,300,0,1439.0

In [75]:
X_dummy.drop(['eco'], axis=1, inplace=True)
X_dummy.head(5)

,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,plycount,elo_dif,fixed_time,extended_time,total_time
50976,2187,1847,24.0,14.5,0,1,153,340,180,12,933.0
8870,1720,2452,339.9,52.7,0,1,46,732,900,0,459.0
21051,1975,2195,14.3,21.8,1,0,110,220,300,0,742.0
2554,2476,2118,51.6,33.0,1,0,37,358,900,0,832.0
26475,1996,2035,19.5,36.5,1,0,73,39,300,0,1439.0

In [79]:
def map_y_values(y):
    y = y.map({'Black checkmated':-2, 'White resigns':3, 'White checkmated':2,
       'Black resigns':-3, 'White forfeits on time':4,
       'Black forfeits by disconnection':-5,
       'Neither player has mating material':-7, 'Black forfeits on time':-4,
       'Game drawn by repetition':1, 'Game drawn by the 50 move rule':0,
       'Game drawn by mutual agreement':-1,
       'White forfeits by disconnection':5,
       'Black ran out of time and White has no material to mate':6,
       'White ran out of time and Black has no material to mate':-6,
       'Game drawn by stalemate':7})
    return y

In [80]:
y_train = map_y_values(y_train)

In [82]:
y_train.value_counts()

-3    13307
 3    12905
-2     6468
 2     5759
 4     1897
-4     1801
 1     1497
-5     1324
 5     1273
-1      509
-7      335
 0      168
 7       85
-6       42
 6       38
Name: commentaries, dtype: int64

In [104]:
def fit_model(X, y):
#     clf = LogisticRegression()
#     clf = MultinomialNB()
    clf = RandomForestClassifier()
    clf.fit(X,y)
    return clf

In [105]:
m_clf = fit_model(X_dummy, y_train)

In [87]:
def process_data(X_dummy):
    # features to drop instantly
    features_to_drop = ['id', 'game', 'white', 'black', 'date', 'black_clock']
    X_dummy.drop(features_to_drop, axis=1, inplace=True)
    # map whiteiscomp and blackiscomp to binary
    X_dummy['whiteiscomp'] = X_dummy['whiteiscomp'].map({False: 0, 
                                                     True:1})
    X_dummy['blackiscomp'] = X_dummy['blackiscomp'].map({False: 0, 
                                                     True:1})
    # create new feature elo_difference
    X_dummy['elo_dif'] = abs(X_dummy['white_elo'] - X_dummy['black_elo'])
    # fix the time control feature
    time_control = X_dummy['timecontrol']
    fixed_time = []
    extended_time = []
    for time in time_control:
        time_tuple = time.split('+')
        fixed_time.append(int(time_tuple[0]))
        extended_time.append(int(time_tuple[1]))
    X_dummy['fixed_time'] = pd.Series(fixed_time, index=X_dummy.index)
    X_dummy['extended_time'] = pd.Series(extended_time, index=X_dummy.index)
    # some more features to drop
    X_dummy.drop(['timecontrol', 'moves', 'eco', 'white_clock'], axis=1, inplace=True)
    # fix the time feature
    time_period = []
    for period in X_dummy['time']:
        time_list = period.split(':')
        time_period.append((100*int(time_list[0])) + (int(time_list[1])) + (int(time_list[2])/100))
    X_dummy['total_time'] = pd.Series(time_period, index=X_dummy.index)
    X_dummy.drop(['time'], axis=1, inplace=True)
    return X_dummy

In [88]:
X_temp = process_data(X_test)

/Users/vidur/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/vidur/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/vidur/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/vidur/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/vidur/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vidur/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vidur/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vidur/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vidur/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [89]:
X_temp.head(10)

,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,plycount,elo_dif,fixed_time,extended_time,total_time
750,1762,2283,104.1,35.8,0,1,48,521,1800,0,1234.0
2001,2634,2964,77.6,18.0,0,1,0,330,900,0,538.0
11877,2191,1821,52.1,54.4,1,0,41,370,60,2,755.0
38327,1720,2433,338.9,46.4,0,1,39,713,1200,0,1419.0
6998,1946,2063,29.1,43.2,0,1,150,117,300,12,406.0
30224,2303,1809,46.6,202.7,1,0,58,494,900,0,442.0
17988,2353,1926,24.1,64.3,1,0,0,427,60,0,447.0
2927,1714,2329,71.1,29.2,0,1,26,615,120,2,924.0
17573,2121,2461,40.9,20.2,0,1,73,340,900,0,811.0
46564,2070,2133,24.7,20.2,1,0,106,63,60,0,1125.0

In [91]:
X_temp.isna().sum()

white_elo        0
black_elo        0
white_rd         0
black_rd         0
whiteiscomp      0
blackiscomp      0
plycount         0
elo_dif          0
fixed_time       0
extended_time    0
total_time       0
dtype: int64

In [92]:
X_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5268 entries, 750 to 18518
Data columns (total 11 columns):
white_elo        5268 non-null int64
black_elo        5268 non-null int64
white_rd         5268 non-null float64
black_rd         5268 non-null float64
whiteiscomp      5268 non-null int64
blackiscomp      5268 non-null int64
plycount         5268 non-null int64
elo_dif          5268 non-null int64
fixed_time       5268 non-null int64
extended_time    5268 non-null int64
total_time       5268 non-null float64
dtypes: float64(3), int64(8)
memory usage: 493.9 KB

In [93]:
y_test = map_y_values(y_test)

In [94]:
y_test

750      5
2001     3
11877   -4
38327    5
6998     3
30224   -3
17988   -3
2927     3
17573   -3
46564    2
35647    2
43927   -3
9512     3
29278    3
45278   -3
7302     3
39584    4
28608    3
2419     3
50185   -3
27539    3
460      2
13338   -2
28028   -5
5856    -4
2194     5
51739   -4
22662   -3
7619    -3
14445   -2
        ..
9431     3
19681    3
11337    2
40694    3
33736    1
2603    -3
43732    3
16121    0
10837    1
12432   -3
44567   -4
37148   -3
6114     1
5023    -3
20504    1
39026   -5
6087     1
9294    -3
50233   -2
12245   -3
5055     3
43154   -3
2068    -2
7932     3
19972   -3
12061    3
29594   -3
24014    0
46896   -2
18518    2
Name: commentaries, Length: 5268, dtype: int64

In [95]:
len(X_temp)

5268

In [106]:
results_local = m_clf.predict(X_temp)

In [107]:
print(accuracy_score(y_test, results_local))

0.5947228549734245

In [113]:
# pd.DataFrame({'id': new_df['id'], 'commentaries': final_series}).set_index('id').to_csv('submissionnext.csv')
# inv_map = {v:k for k,v in dicton.items()}
official_test = pd.read_csv('raw_data/testing_data.csv')
temp = official_test.copy()

In [114]:
temp = process_data(temp)

In [116]:
temp.head(10)

,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,plycount,elo_dif,fixed_time,extended_time,total_time
0,2319,2921,39.8,16.7,0,1,0,602,60,0,524.0
1,2048,2141,39.1,28.2,0,1,19,93,900,0,815.0
2,2112,2005,34.8,19.9,0,1,47,107,300,0,240.0
3,2542,3099,48.5,17.9,0,1,0,557,60,0,752.0
4,2419,1671,52.0,296.3,1,0,29,748,900,0,1451.0
5,1520,2494,111.9,43.7,0,1,56,974,60,0,106.0
6,2354,2000,49.2,45.9,1,0,41,354,900,30,645.0
7,2164,1936,31.1,36.2,1,0,51,228,0,4,2223.0
8,2364,1783,41.0,50.0,1,0,43,581,180,0,1507.0
9,2316,1720,42.1,330.0,1,0,6,596,180,0,449.0

In [120]:
np_result = m_clf.predict(temp)
np_result[:5]

array([ 3,  3, -3,  3, -2])

In [122]:
official_result = pd.Series(np_result)

In [123]:
def invert_mapping(y):
    forward_map = {'Black checkmated':-2, 'White resigns':3, 'White checkmated':2,
       'Black resigns':-3, 'White forfeits on time':4,
       'Black forfeits by disconnection':-5,
       'Neither player has mating material':-7, 'Black forfeits on time':-4,
       'Game drawn by repetition':1, 'Game drawn by the 50 move rule':0,
       'Game drawn by mutual agreement':-1,
       'White forfeits by disconnection':5,
       'Black ran out of time and White has no material to mate':6,
       'White ran out of time and Black has no material to mate':-6,
       'Game drawn by stalemate':7}
    inv_map = {v:k for k,v in forward_map.items()}
    y = y.map(inv_map)
    return y

In [124]:
official_result = invert_mapping(official_result)

In [126]:
pd.DataFrame({'id': official_test['id'], 'commentaries': official_result}).set_index('id').to_csv('Submissions/submissionbest.csv')